.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #204051;
}

h1 {
  margin: 25px;
  font-family: 'Roboto', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ffa931;
}

p {
  font-size: 2rem;
  color: #ffa931;
  font-family: 'Indie Flower', cursive;
}
.throwDice{
  margin: auto;
  padding: 3px;
  display: block;
  width: 25%;
  background-color: white;
  border-radius: 3px;
}
a{
    text-decoration: none;
}
img {
  width: 80%;
}

footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
